﻿  .chkliststyle input
        {
            width: auto;
            margin-bottom: 0px !important;
             margin-right: 15px;
             
        }
.chkliststyle label
        {
            margin-top: 2px;vertical-align: middle;font-size: 13px;
        }