﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Organisation/OrganisationMaster.master"
    AutoEventWireup="true" CodeFile="OrgJobTypeList.aspx.cs" Inherits="Organisation_OrgJobTypeList"
    Culture="auto" meta:resourcekey="PageResource1" UICulture="auto" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <link href="css/ajaxtab.css" rel="stylesheet" />
    <style type="text/css">
        .yellow {
            border-radius: 0px;
        }

        body {
            font-family: Geneva,Arial,Helvetica,sans-serif;
        }

        #ContentPlaceHolder1_chkList input {
            width: 33px;
            margin-bottom: 0px !important;
        }

        #ContentPlaceHolder1_chkList label {
            margin-top: 2px;
        }

        label {
            display: inline-block;
            font-size: 14px;
            font-weight: inherit;
            margin-bottom: 5px;
        }

        .table > thead > tr > th {
            vertical-align: middle;
        }
    </style>
    <script src="../Scripts/sMain.js?version=1.0" type="text/javascript"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <style type="text/css">
        .scroll_checkboxes {
            height: 120px;
            width: 100%;
            padding: 5px;
            overflow: auto;
            border: 1px solid #ccc;
        }

        .FormText {
            font-size: 11px;
            font-family: tahoma,sans-serif;
        }
    </style>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //  alert();
            setTimeout(function () {
                //ExampanCollapsMenu();
                //ExampanCollapssubMenu();
                SetExpandCollapse();
                // tabMenuClick();
                $(".OrgJobTypeList").addClass("active_page");
            }, 500);
        });
    </script>
    <script language="javascript">

        var color = 'White';

        function changeColor(obj) {
            var rowObject = getParentRow(obj);
            var parentTable = document.getElementById("<%=chkList.ClientID%>");
            if (color == '') {
                color = getRowColor();
            }
            if (obj.checked) {
                rowObject.style.backgroundColor = '#A3B1D8';
            }
            else {
                rowObject.style.backgroundColor = color;
                color = 'White';
            }

            // private method
            function getRowColor() {
                if (rowObject.style.backgroundColor == 'White') return parentTable.style.backgroundColor;
                else return rowObject.style.backgroundColor;
            }

        }

        // This method returns the parent row of the object

        function getParentRow(obj) {
            do {
                obj = obj.parentElement;
            }
            while (obj.tagName != "TR")
            return obj;
        }


        function TurnCheckBoixGridView(id) {
            var frm = document.forms[0];

            for (i = 0; i < frm.elements.length; i++) {
                if (frm.elements[i].type == "checkbox" && frm.elements[i].id.indexOf("<%= chkList.ClientID %>") == 0) {
                    frm.elements[i].checked = document.getElementById(id).checked;
                }
            }
        }

        function SelectAll(id) {

            var parentTable = document.getElementById("<%=chkList.ClientID%>");
            var color

            if (document.getElementById(id).checked) {
                color = '#A3B1D8'
            }
            else {
                color = 'White'
            }

            for (i = 0; i < parentTable.rows.length; i++) {
                parentTable.rows[i].style.backgroundColor = color;
            }
            TurnCheckBoixGridView(id);

        }


    </script>

    <asp:Label ID="hdnConfirmArchive" Style="display: none;" CssClass="hdnConfirmArchive" Text="Are you you want to Delete?" meta:resourcekey="ConfirmArchive" runat="server" />
    <div class="col-md-6">
        <div class="heading-sec">
            <h1 style="margin-left: 15px;">
                <asp:Label ID="Literal4" runat="server" meta:resourcekey="JobType" EnableViewState="false" />
                <i><span runat="server" id="JobType"></span></i>
            </h1>
        </div>
    </div>
    <%--<div class="col-md-3">
        <div class="dropdown-example">
            <ul class="nav nav-pills">
                <li class="dropdown" style="float: left!important; width: 100%;">
                    <a class="skill_dropdown" id="drop7" role="button" data-toggle="dropdown" href="#">Account Department<b class="skill_caret"></b></a>
                    <ul id="menu7" class="dropdown-menu" role="menu" aria-labelledby="drop7" style="width: 100%;">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account Department</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sales Department</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Human Resources Department </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Software Department</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Network Department</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="report_all.html">All</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dropdown-example">
            <ul class="nav nav-pills">
                <li class="dropdown" style="float: left!important; width: 100%;">
                    <a class="skill_dropdown" id="A1" role="button" data-toggle="dropdown" href="report_all.html">All<b class="skill_caret"></b></a>
                    <ul id="Ul1" class="dropdown-menu" role="menu" aria-labelledby="drop7" style="width: 100%;">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="report.html">Original competence level</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">New competence level</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Development points</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Knowledge share</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Potential for development</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">All</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>--%>
    <div class="col-md-12" style="margin-top: 20px;">
        <div id="graph-wrapper">
            <div class="col-md-12">
                <a href="#add-post-title" data-toggle="modal" title="" style="margin-bottom: 15px;">
                    <button style="border: 0px;" class="btn btn-primary yellow lrg-btn flat-btn add_user" type="button">
                        <asp:Literal ID="Literal1" runat="server" meta:resourcekey="AddNewJobType" EnableViewState="false" />
                        <%--  <%= CommonMessages.AddNew%>--%>
                    </button>
                </a>


                <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="add-post-title"
                    style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header blue yellow-radius">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                                    ×
                                </button>
                                <h4 class="modal-title">
                                    <asp:Literal ID="Literal2" runat="server" meta:resourcekey="AddNewJobType" EnableViewState="false" />
                                </h4>
                            </div>
                            <div class="modal-body">
                                <asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Always">
                                    <ContentTemplate>
                                        <asp:TextBox runat="server" ID="txtJobTypeName" MaxLength="50"
                                            meta:resourcekey="txtJobTypePlaceHolder" AutoPostBack="true" OnTextChanged="txtJobTypeName_TextChanged" />
                                        <asp:Label runat="server" ID="lblJobTypeName" CssClass="commonerrormsg"></asp:Label>
                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator5" runat="server" ControlToValidate="txtJobTypeName"
                                            ErrorMessage="Please enter Job Type Name." CssClass="commonerrormsg" Display="Dynamic"
                                            ValidationGroup="chk" meta:resourcekey="RequiredFieldValidator5Resource1"></asp:RequiredFieldValidator>
                                        <br>
                                        <asp:TextBox runat="server" ID="txtJobTypeNameDn" MaxLength="50"
                                            meta:resourcekey="txtJobTypeNameDnResource1" AutoPostBack="true" />
                                        <asp:Label runat="server" ID="Label1" CssClass="commonerrormsg"></asp:Label>
                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="txtJobTypeNameDn"
                                            CssClass="commonerrormsg" Display="Dynamic"
                                            ValidationGroup="chk" meta:resourcekey="RequiredFieldValidator2Resource1"></asp:RequiredFieldValidator>
                                    </ContentTemplate>
                                </asp:UpdatePanel>
                                <br />
                                <div class="widget-body custom-form" style="margin-bottom: 10px; text-transform: uppercase; display: none;">
                                    <div class="sec">
                                        <asp:DropDownList ID="ddlDepartment" runat="server" Style="width: 100%; height: 32px; display: inline;"
                                            CssClass="form-control" meta:resourcekey="ddlDepartmentResource1">
                                        </asp:DropDownList>
                                        <%-- <asp:RequiredFieldValidator ID="RequiredFieldValidator14" runat="server" ControlToValidate="ddlDepartment"
                                            ErrorMessage="Please select Department." InitialValue="0" CssClass="commonerrormsg"
                                            Display="Dynamic" ValidationGroup="chk" meta:resourcekey="RequiredFieldValidator14Resource1"></asp:RequiredFieldValidator>--%>
                                    </div>
                                </div>
                                <div class="scroll_checkboxes">
                                    <asp:Label ID="Label3" runat="server" meta:resourcekey="Categoty" EnableViewState="false" />
                                    :<br />
                                    <asp:CheckBoxList Width="100%" ID="chkList" runat="server" CssClass="FormText" RepeatDirection="Vertical"
                                        RepeatColumns="1" BorderWidth="0" Datafield="description" DataValueField="value">
                                    </asp:CheckBoxList>


                                </div>
                                <%--<asp:CustomValidator ID="CustomValidator1" ErrorMessage="Please select at least one item."
                                        ForeColor="Red" ClientValidationFunction="ValidateCheckBoxList" runat="server"  Font-Size="13px"
                                        ValidationGroup="chk" />--%>
                                <asp:TextBox runat="server" ID="txtDESCRIPTION" MaxLength="500"
                                    TextMode="MultiLine" Rows="5" meta:resourcekey="DESCRIPTIONPlaceHolder" />
                                <%--<asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtDESCRIPTION"
                                    ErrorMessage="Please Enter DESCRIPTION." CssClass="commonerrormsg" Display="Dynamic"
                                    ValidationGroup="chk" meta:resourcekey="RequiredFieldValidator1Resource1"></asp:RequiredFieldValidator>--%>
                            </div>
                            <div class="modal-footer">
                                <asp:Button runat="server" ID="btnsubmit" Text="Submit" CssClass="btn btn-primary yellow"
                                    OnClientClick="CheckValidations('chk');generate('warning','Please wait','bottomCenter');" ValidationGroup="chk" OnClick="btnsubmit_Click"
                                    Style="border-radius: 5px;" meta:resourcekey="btnsubmitResource1" />
                                <button data-dismiss="modal" class="btn btn-default black" type="button">
                                    <%-- <%= CommonMessages.Close%>--%><asp:Literal ID="Literal3" runat="server" meta:resourcekey="Close"
                                        EnableViewState="false" />
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                </div>
                <br />
                <div style="clear: both;"></div>
                <asp:Label runat="server" ID="lblMsg" CssClass="commonerrormsg" meta:resourcekey="lblMsgResource1"></asp:Label>
                <br />
                <br />
                <div class="chart-tab manager_table">
                    <%-- <div id="tabs-container">--%>
                    <%--<cc1:TabContainer ID="TabContainer1" runat="server" CssClass="Tab">
                            <cc1:TabPanel ID="tbpnluser" runat="server">
                                <HeaderTemplate>
                                    Job Type
                                    <a></a>
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <div class="invoice" style="background-color: white; margin-top: 0px;">--%>
                    <asp:GridView ID="gvGrid" runat="server" AutoGenerateColumns="False" CellPadding="0"
                        Width="100%" GridLines="None" DataKeyNames="jobId" CssClass="table table-striped table-bordered table-hover table-checkable datatable"
                        EmptyDataText='<%# CommonModule.msgGridRecordNotfound %>' OnRowCommand="gvGrid_RowCommand"
                        OnRowDataBound="gvGrid_RowDataBound" meta:resourcekey="gvGridResource1">
                        <HeaderStyle CssClass="aa" />
                        <EmptyDataRowStyle ForeColor="Red"></EmptyDataRowStyle>
                        <AlternatingRowStyle BackColor="White" />
                        <Columns>
                            <asp:TemplateField HeaderText="ID" meta:resourcekey="TemplateFieldResource1">
                                <ItemTemplate>
                                    <%# Container.DataItemIndex + 1 %>
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" Width="50px" Font-Size="14px" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="invoice-head chat-widget-head yellow"
                                    Width="10%" ForeColor="White" Font-Size="18px" BorderWidth="0px" Height="55px" />
                            </asp:TemplateField>
                            <%-- <asp:TemplateField HeaderText="JOB NAME">
                                <ItemTemplate>
                                    <asp:Label ID="lblUserNamer" runat="server" Text="<%# bind('jobName') %>"></asp:Label>
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="invoice-head chat-widget-head yellow"
                                    Width="50%" ForeColor="White" />
                            </asp:TemplateField>--%>
                            <%--<asp:TemplateField HeaderText="CATEGORY" meta:resourcekey="TemplateFieldResource2">
                                <ItemTemplate>
                                    <asp:Label ID="lblUserNamer" runat="server" Text="<%# bind('catName') %>" meta:resourcekey="lblUserNamerResource1"></asp:Label>
                                    <asp:HiddenField ID="jobCompanyId" runat="server" Value="<%# bind('jobCompanyId') %>" />
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" Font-Size="14px" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="invoice-head chat-widget-head yellow"
                                    Width="50%" ForeColor="White" Font-Size="16px" BorderWidth="0px" />
                            </asp:TemplateField>--%>
                            <asp:TemplateField HeaderText="Job Name" meta:resourcekey="JobName">
                                <ItemTemplate>
                                    <asp:Label ID="lblUserNamer" runat="server" Text="<%# bind('jobName') %>"></asp:Label>
                                    <asp:HiddenField ID="jobCompanyId" runat="server" Value="<%# bind('jobCompanyId') %>" />
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" Font-Size="14px" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="invoice-head chat-widget-head yellow"
                                    Width="50%" ForeColor="White" Font-Size="18px" BorderWidth="0px" Height="55px" />
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="TargetSet" meta:resourcekey="TargetSetRes">
                                <ItemTemplate>
                                    <div class="vat" style="width: 100px;">
                                        <a href="<%# String.Format("CompetenceTargetSet.aspx?refID={0}&Type=JobType", Eval("jobId")) %>" style="font-size: 13px">
                                            <asp:Literal ID="Literal1222" runat="server" meta:resourcekey="IndividualTargets" Text="IndividualTargets" EnableViewState="false" />
                                        </a>
                                    </div>
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" Width="200px" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="invoice-head chat-widget-head yellow"
                                    Width="10%" ForeColor="White" Font-Size="18px" BorderWidth="0px" Height="55px" />
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="" ItemStyle-Width="100px" meta:resourcekey="Action">
                                <ItemTemplate>
                                    <div class="vat" style="width: 85px;" id="divEdit" runat="server">
                                       
                                            <i class="fa fa-pencil"></i><a href="<%# String.Format("OrgJobType.aspx?id={0}", Eval("jobId")) %>"
                                                title="Edit">
                                                <asp:Label runat="server" meta:resourcekey="btnEdit"></asp:Label></a>
                                        
                                    </div>
                                    <div class="total" style="width: 70px;" id="divDeletet" runat="server">
                                        <p>
                                            <i class="fa fa-trash-o"></i>
                                            <asp:LinkButton ID="lnkBtnName" runat="server" CommandName="archive" CommandArgument='<%# Eval("jobId") %>'
                                                ToolTip="Delete" OnClientClick="var ConfirmArchive = function() {  return confirm($('.hdnConfirmArchive').text())};return ConfirmArchive();"
                                                meta:resourcekey="lnkBtnNameResource1"></asp:LinkButton>
                                            <%--                                             <asp:Button ID="Button1" runat="server" Style="z-index: 100; left: 64px; position: absolute;--%>
                                            <%--top: 88px" Text="Alert" OnClientClick ="alert_meth()" Font-Bold="True" ForeColor="Red" Width="72px"/>--%>
                                        </p>

                                    </div>
                                    <div class="total" style="width: 200px;" id="div1" runat="server">
                                        <p>
                                            <i>
                                                <img src="images/block.jpg" alt="" height="15px;" width="15px;" /></i>
                                            <asp:Literal ID="Literal3" runat="server" meta:resourcekey="NotEditable" EnableViewState="false" />
                                            <%-- <%= CommonMessages.NotEditable%>--%>
                                        </p>
                                    </div>
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" Width="50px" Font-Size="14px" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="invoice-head chat-widget-head yellow"
                                    Width="10%" ForeColor="White" Font-Size="18px" BorderWidth="0px" Height="55px" />
                            </asp:TemplateField>
                        </Columns>
                    </asp:GridView>
                    <%-- </div>
                                </ContentTemplate>
                            </cc1:TabPanel>
                            <cc1:TabPanel ID="tbpnlusrdetails" runat="server">
                                <HeaderTemplate>
                                    Archive
                                    <a></a>
                                </HeaderTemplate>
                                <ContentTemplate>
                                    <div class="invoice" style="background-color: white; margin-top: 0px;">--%>
                    <asp:GridView ID="gvArchive" runat="server" AutoGenerateColumns="False" CellPadding="0"
                        Width="100%" GridLines="None" Visible="False" EmptyDataText='<%# CommonModule.msgGridRecordNotfound %>'
                        DataKeyNames="jobId" OnRowCommand="gvArchive_RowCommand" CssClass="table table-striped table-bordered table-hover table-checkable datatable"
                        meta:resourcekey="gvArchiveResource1">
                        <HeaderStyle CssClass="aa" />
                        <EmptyDataRowStyle ForeColor="Red"></EmptyDataRowStyle>
                        <AlternatingRowStyle BackColor="White" />
                        <Columns>
                            <asp:TemplateField HeaderText="Sr.No" ItemStyle-Width="50px" meta:resourcekey="TemplateFieldResource4">
                                <ItemTemplate>
                                    <%# Container.DataItemIndex + 1 %>
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="hidden-xs" />
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="job Name" meta:resourcekey="JobName">
                                <ItemTemplate>
                                    <asp:Label ID="lblUserNamer" runat="server" Text="<%# bind('jobName') %>" meta:resourcekey="lblUserNamerResource2"></asp:Label>
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="hidden-xs" />
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Action" ItemStyle-Width="50px" meta:resourcekey="Action">
                                <ItemTemplate>
                                    <span class="btn-group">
                                        <asp:LinkButton ID="lnkbtnrestore" runat="server" CommandName="archive" CommandArgument='<%# Eval("jobId") %>'
                                            ToolTip="Restore" OnClientClick="return confirm('Are you sure you want to restore this record?');"
                                            Text="Restore" meta:resourcekey="lnkbtnrestoreResource1"></asp:LinkButton>&nbsp;|&nbsp;
                                        <asp:LinkButton ID="lnkBtnPermanentlydelete" runat="server" CommandName="permanentlydelete"
                                            CommandArgument='<%# Eval("jobId") %>' Text="Delete Permanently" ToolTip="Delete Permanently"
                                            OnClientClick="return confirm('Are you sure you want to permanently delete this record?');"
                                            meta:resourcekey="lnkBtnPermanentlydeleteResource1"></asp:LinkButton>
                                    </span>
                                </ItemTemplate>
                                <ItemStyle HorizontalAlign="Left" CssClass="hidden-xs" />
                                <HeaderStyle HorizontalAlign="Left" CssClass="hidden-xs" />
                                <HeaderStyle HorizontalAlign="Left" Width="10%" />
                            </asp:TemplateField>
                        </Columns>
                    </asp:GridView>
                    <%-- </div>
                                </ContentTemplate>
                            </cc1:TabPanel>
                        </cc1:TabContainer>--%>
                </div>
                <a href="#" onclick="javascript:history.back(); return false;" class="btn black pull-right" style="border-radius: 5px; margin-left: 0px; margin-top: 5px; float: right; display: none">
                    <asp:Label runat="server" ID="Label2" CssClass="commonerrormsg" meta:resourcekey="Back"></asp:Label>
                </a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function ValidateCheckBoxList(sender, args) {
            var checkBoxList = document.getElementById("<%=chkList.ClientID %>");
            var checkboxes = checkBoxList.getElementsByTagName("input");
            var isValid = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    isValid = true;
                    break;
                }
            }
            args.IsValid = isValid;
            //alert("Please select at least one job type.");
        }
    </script>
    <%--    <script type="text/Javascript" language ="javascript" >--%>
    <%--        function alert_meth() {--%>
    <%--            alert("Client Side MessageBox");--%>
    <%--        }--%>
    <%--</script>--%>
</asp:Content>
