@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: local('Armata'), local('Armata-Regular'), url(https://fonts.gstatic.com/s/armata/v6/FG9R9aX-RIX_AvJI8USOWg.woff) format('woff');
}
